# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Configuration file (to avoid committing sensitive information)
config/config.yaml

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Debugging
debug.log
